<section class="container">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div id="new-modal" class="modal-content">
                <!-- <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update Listing</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="house-form" onsubmit="app.HousesController.UpdateHouse()" class="row bg-white d-none">
                        <div class="col-4 p-3">
                            <label for="bedrooms">Bedrooms</label>
                            <input class="form-control" type="number" name="bedrooms" id="bedrooms" min="1" required>
                        </div>
                        <div class="col-4 p-3">
                            <label for="bathrooms">Bathrooms</label>
                            <input class="form-control" type="number" name="bathrooms" id="bathrooms" min="1" required>
                        </div>
                        <div class="col-4 p-3">
                            <label for="levels">Levels</label>
                            <input class="form-control" type="number" name="levels" id="levels" min="1" required>
                        </div>
                        <div class="col-12 p-3">
                            <input class="form-control" type="url" name="imgUrl" id="imgUrl"
                                placeholder="Image URL of House">
                        </div>
                        <div class="col-4 p-3">
                            <label for="year">Year</label>
                            <input class="form-control" type="number" name="year" id="year" min="1900" required>
                        </div>
                        <div class="col-4 p-3">
                            <label for="price">Price</label>
                            <input class="form-control" type="number" name="price" id="price" min="1" required>
                        </div>
                        <div class="col-12 p-3">
                            <textarea class="form-control" type="text" name="description" id="description" cols="60"
                                rows="5" placeholder="Description of the home." min="3" required></textarea>
                        </div>
                        <div class="text-end p-3">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div> -->
            </div>
        </div>

    </div>

    <form id="house-form" onsubmit="app.HousesController.ListHouse()" class="row bg-white d-none">
        <div class="col-4 p-3">
            <label for="bedrooms">Bedrooms</label>
            <input class="form-control" type="number" name="bedrooms" id="bedrooms" min="1" required>
        </div>
        <div class="col-4 p-3">
            <label for="bathrooms">Bathrooms</label>
            <input class="form-control" type="number" name="bathrooms" id="bathrooms" min="1" required>
        </div>
        <div class="col-4 p-3">
            <label for="levels">Levels</label>
            <input class="form-control" type="number" name="levels" id="levels" min="1" required>
        </div>
        <div class="col-12 p-3">
            <input class="form-control" type="url" name="imgUrl" id="imgUrl" placeholder="Image URL of House">
        </div>
        <div class="col-4 p-3">
            <label for="year">Year</label>
            <input class="form-control" type="number" name="year" id="year" min="1900" required>
        </div>
        <div class="col-4 p-3">
            <label for="price">Price</label>
            <input class="form-control" type="number" name="price" id="price" min="1" required>
        </div>
        <div class="col-12 p-3">
            <textarea class="form-control" type="text" name="description" id="description" cols="60" rows="5"
                placeholder="Description of the home." min="3" required></textarea>
        </div>
        <div class="text-end p-3">
            <button type="submit" class="btn btn-primary">List House</button>
        </div>
    </form>
    <div id="houses-view" class="row justify-content-evenly">
        <!-- <div class="col-6 card">
            <img class="card-img-top"
                src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/home-improvement/wp-content/uploads/2022/07/download-23.jpg"
                alt="house">
            <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        <div class="levels"></div>
                        <div>bedrooms</div>
                        <div>bathrooms</div>
                        <div>year</div>
                    </div>
                    <div class="row">
                        <p>Description</p>
                        <div>Price$</div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>